<!DOCTYPE html>

<html>
  <head>
    <title>CyCore Systems, Inc</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta name="author" content="CyCore Systems, Inc.">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
	 <link rel="stylesheet/less" type="text/css" href="/css/master.less"/>
	 <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/js/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
