{{template "header.html" .}}

<div id="page">
	<div class="transcontentunit twelve" id="mainlogo">
		&nbsp;
	</div>
	<div class="transcontentunit twelve" id="mainstatement">
		<h2>
			Whether you need a design, an MVP, or a finished product: we solve problems. 	
		</h2>
	</div>
	<div class="transcontentunit twelve" id="maincontact">
		<div class="alert alert-success"></div>
		<div class="alert alert-error"></div>

		{{template "contact.html" .}}
	</div>
	<div class="transcontentunit twelve" id="mainservice">
		<ul>
			<li class="one">Architecture</li>
			<li class="two">Design</li>
			<li class="one">Performance</li>
			<li class="three">Containerizing</li>
			<li class="one">UI, UX, Usability</li>
			<li class="two">App Development</li>
			<li class="three">Voice &amp; IoT</li>
			<li class="two">Training</li>
		</ul>
	</div>
</div>

<script src="/js/home.js" type="text/javascript" charset="utf-8"></script>

{{template "footer.html" .}}
